@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
}

.dashboard-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-button-icon {
  font-size: 2.5rem;
  width: 2.5rem;
  margin: 0 0.5rem 0 0;
  text-align: center;
}

.dashboard-button-text {
  font-size: 1.5rem;
  margin: 0 auto;
}
