<div class="row">
  <div class="col-sm-4">
    <button class="dashboard-button btn btn-primary btn-block" (click)="redirectTo('cliente')">
      <i class="dashboard-button-icon ion-person"></i>
      <span class="dashboard-button-text">Cliente</span>
    </button>
  </div>
  <div class="col-sm-4">
    <button class="dashboard-button btn btn-primary btn-block" (click)="redirectTo('produto')">
      <i class="dashboard-button-icon ion-ios-cart-outline"></i>
      <span class="dashboard-button-text">Produto</span>
    </button>
  </div>
  <div class="col-sm-4">
    <button class="dashboard-button btn btn-primary btn-block" (click)="redirectTo('venda')">
      <i class="dashboard-button-icon ion-card"></i>
      <span class="dashboard-button-text">Venda</span>
    </button>
  </div>
</div>
